In [2]:
import pandas as pd
import numpy as np

In [96]:
# df = pd.read_csv("D:\\excel data\\countryContinent.csv",encoding='latin-1')

In [97]:
# df.head(5)

In [98]:
movies = pd.read_csv("D:\\excel data\\imdb-top-1000.csv")

In [99]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0

In [19]:
genres = movies.groupby("Genre")

In [20]:
genres

In [36]:
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,32632261314,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9496922464,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,14631473048,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8276357606,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,15663868165,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8452631908,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,35409974041,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,439110554,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,782726696,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,125910543,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1034649238,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1256417015,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,58221508,313.0

In [22]:
genres.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508,69.0

In [35]:
# find top 3 genres by gross earning

movies.groupby("Genre").sum()["Gross"].sort_values(ascending=False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [42]:
movies.groupby("Genre")["Gross"].sum().sort_values(ascending=False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [47]:
# find the genre with higest avg imbd rating
movies.groupby("Genre")["IMDB_Rating"].mean().sort_values(ascending=False).head(5)

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Name: IMDB_Rating, dtype: float64

In [51]:
# find director with most popularity
movies.groupby("Genre")["Director"].max().sort_values(ascending=False).head(5)

Genre
Adventure    Ömer Faruk Sorak
Drama             Çagan Irmak
Comedy            Zoya Akhtar
Action            Zack Snyder
Animation     Yoshifumi Kondô
Name: Director, dtype: object

In [53]:
movies.groupby("Director")["No_of_Votes"].sum().sort_values(ascending =False ).head(3)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
Name: No_of_Votes, dtype: int64

In [54]:
# find the highest movies of each genre
movies.groupby("Genre")["IMDB_Rating"].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

In [55]:
#find  number of movies done by each actor
movies["Star1"].value_counts()

Star1
Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: count, Length: 660, dtype: int64

In [58]:
movies.groupby("Star1")["Series_Title"].count().sort_values(ascending=False).head(5)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
Name: Series_Title, dtype: int64

In [61]:
# find total number of group using len

len(movies.groupby("Genre"))

14

In [63]:
# find the total number of rows 
movies.groupby("Genre").size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [64]:
movies["Genre"].value_counts()

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

In [65]:
# find the first and last char to remove

genres = movies.groupby("Genre")

In [66]:
genres.first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

In [67]:
genres.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000,69.0

In [69]:
#find the petricular genres in how much data in this group

genres.get_group("Family")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0

In [71]:
movies[movies["Genre"] == "Family"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0

In [72]:
# groups()

genres.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [73]:
# describe()

genres.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [77]:
# sample()
genres.sample()

#genres.sample(2,replace = True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
375,Mou gaan dou,2002,101,Action,8.0,Andrew Lau,Alan Mak,117857,169659,75.0
919,Stardust,2007,127,Adventure,7.6,Matthew Vaughn,Charlie Cox,255036,38634938,66.0
665,Batman: Mask of the Phantasm,1993,76,Animation,7.8,Kevin Altieri,Boyd Kirkland,43690,5617391,NaN
317,La passion de Jeanne d'Arc,1928,110,Biography,8.1,Carl Theodor Dreyer,Maria Falconetti,47676,21877,NaN
427,The Graduate,1967,106,Comedy,8.0,Mike Nichols,Dustin Hoffman,253676,104945305,83.0
25,The Green Mile,1999,189,Crime,8.6,Frank Darabont,Tom Hanks,1147794,136801374,61.0
344,The Perks of Being a Wallflower,2012,103,Drama,8.0,Stephen Chbosky,Logan Lerman,462252,17738570,67.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000,88.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508,80.0

In [78]:
# nunique()
genres.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [79]:
# find perticular column in perticular aggrigate function

genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,32632261314,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9496922464,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,14631473048,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8276357606,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,15663868165,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8452631908,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,35409974041,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,439110554,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,782726696,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,125910543,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1034649238,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1256417015,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,58221508,313.0

In [80]:
genres.agg({
    "Runtime":"mean",
    "IMDB_Rating":"mean",
    "No_of_Votes":"sum",
    "Gross":"sum",
    "Metascore":"min"
})

              Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  32632261314       33.0
Adventure  134.111111     7.937500     22576163   9496922464       41.0
Animation   99.585366     7.930488     21978630  14631473048       61.0
Biography  136.022727     7.938636     24006844   8276357606       48.0
Comedy     112.129032     7.901290     27620327  15663868165       45.0
Crime      126.392523     8.016822     33533615   8452631908       47.0
Drama      124.737024     7.957439     61367304  35409974041       28.0
Family     107.500000     7.800000       551221    439110554       67.0
Fantasy     85.000000     8.000000       146222    782726696        NaN
Film-Noir  104.000000     7.966667       367215    125910543       94.0
Horror     102.090909     7.909091      3742556   1034649238       46.0
Mystery    119.083333     7.975000      4203004   1256417015       52.0
Thriller   108.000000     7.800000        27733     17550741       81.0
Western    148.250000     8.350000      1289665     58221508       69.0

In [108]:
genres.agg({
    "Runtime":["min","mean"],
    "IMDB_Rating":["min","mean","sum"],
    "No_of_Votes":["min","mean","max"],
    "Gross":["min","mean","sum"],
    "Metascore":["min","mean","max"]
})

          Runtime             IMDB_Rating                   No_of_Votes  \
              min        mean         min      mean     sum         min
Genre
Action         45  129.046512         7.6  7.949419  1367.3       25312
Adventure      88  134.111111         7.6  7.937500   571.5       29999
Animation      71   99.585366         7.6  7.930488   650.3       25229
Biography      93  136.022727         7.6  7.938636   698.6       27254
Comedy         68  112.129032         7.6  7.901290  1224.7       26337
Crime          80  126.392523         7.6  8.016822   857.8       27712
Drama          64  124.737024         7.6  7.957439  2299.7       25088
Family        100  107.500000         7.8  7.800000    15.6      178731
Fantasy        76   85.000000         7.9  8.000000    16.0       57428
Film-Noir     100  104.000000         7.8  7.966667    23.9       59556
Horror         71  102.090909         7.6  7.909091    87.0       27007
Mystery        96  119.083333         7.6  7.975000    95.7       33982
Thriller      108  108.000000         7.8  7.800000     7.8       27733
Western       132  148.250000         7.8  8.350000    33.4       65659

                                       Gross                             \
                    mean      max        min          mean          sum
Genre
Action     420246.581395  2303232       3296  1.897224e+08  32632261314
Adventure  313557.819444  1512360      61001  1.319017e+08   9496922464
Animation  268032.073171   999790     128985  1.784326e+08  14631473048
Biography  272805.045455  1213505      21877  9.404952e+07   8276357606
Comedy     178195.658065   939631       1305  1.010572e+08  15663868165
Crime      313398.271028  1826188       6013  7.899656e+07   8452631908
Drama      212343.612457  2343110       3600  1.225259e+08  35409974041
Family     275610.500000   372490    4000000  2.195553e+08    439110554
Fantasy     73111.000000    88794  337574718  3.913633e+08    782726696
Film-Noir  122405.000000   158731     449191  4.197018e+07    125910543
Horror     340232.363636   787806      89029  9.405902e+07   1034649238
Mystery    350250.333333  1129894    1035953  1.047014e+08   1256417015
Thriller    27733.000000    27733   17550741  1.755074e+07     17550741
Western    322416.250000   688390    5321508  1.455538e+07     58221508

          Metascore
                min       mean    max
Genre
Action         33.0  73.419580   98.0
Adventure      41.0  78.437500  100.0
Animation      61.0  81.093333   96.0
Biography      48.0  76.240506   97.0
Comedy         45.0  78.720000   99.0
Crime          47.0  77.080460  100.0
Drama          28.0  79.701245  100.0
Family         67.0  79.000000   91.0
Fantasy         NaN        NaN    NaN
Film-Noir      94.0  95.666667   97.0
Horror         46.0  80.000000   97.0
Mystery        52.0  79.125000  100.0
Thriller       81.0  81.000000   81.0
Western        69.0  78.250000   90.0

In [85]:
aggregate = movies[["Runtime","IMDB_Rating","No_of_Votes","Gross","Metascore"]]

In [88]:
#pass the list
genres.agg(["min","max","mean"])
# aggregate.agg(["min","max","mean"])

TypeError: Could not convert The Dark KnightThe Lord of the Rings: The Return of the KingInceptionThe Lord of the Rings: The Fellowship of the RingThe Lord of the Rings: The Two TowersThe MatrixStar Wars: Episode V - The Empire Strikes BackStar WarsSeppukuShichinin no samuraiGladiatorLéonTerminator 2: Judgment DayVikram VedhaDangalAvengers: EndgameAvengers: Infinity WarThe Dark Knight RisesOldeuboiRaiders of the Lost ArkAliensStar Wars: Episode VI - Return of the JediUri: The Surgical StrikeK.G.F: Chapter 1Baahubali 2: The ConclusionGangs of WasseypurPaan Singh TomarWarriorV for VendettaBatman BeginsHera PheriLock, Stock and Two Smoking BarrelsAndaz Apna ApnaIndiana Jones and the Last CrusadeDie HardRanSholayYôjinbôSherlock Jr.HaiderLoganRushFord v FerrariMad Max: Fury RoadA WednesdayTaegukgi hwinalrimyeoKill Bill: Vol. 1Jurassic ParkBlade RunnerSanjuroWhite HeatThe GeneralBajrangi BhaijaanBabyBãhubali: The BeginningSerbuan maut 2: BerandalGuardians of the GalaxyBlade Runner 2049The RevenantTropa de Elite 2: O Inimigo Agora é OutroDeadpoolYip ManNefes: Vatan SagolsunTropa de EliteThe AvengersThe Bourne UltimatumCasino RoyaleKill Bill: Vol. 2Mou gaan douPirates of the Caribbean: The Curse of the Black PearlKnockin' on Heaven's DoorThe TerminatorPer un pugno di dollariRio BravoThor: RagnarokStar Wars: Episode VII - The Force AwakensX-Men: Days of Future PastEdge of TomorrowDistrict 9Star TrekLetters from Iwo JimaIron ManYing xiongThe Bourne IdentityThe Blues BrothersDawn of the DeadAguirre, der Zorn GottesThe Wild BunchThe Adventures of Robin HoodThe GentlemenRaaziDunkirkUdta PunjabRogue OneCaptain America: Civil WarAng-ma-reul bo-at-daAjeossiChugyeokjaTakenAvatarApocalyptoHot FuzzSerenityGongdong gyeongbi guyeok JSAThe Count of Monte CristoWo hu cang longThe Boondock SaintsThe GameTombstoneThe FugitiveLat sau san taamDip huet seung hungPredatorEvil Dead IIGhostbustersBadlandsBonnie and ClydeThe Longest DayRed RiverKey LargoScarface: The Shame of the NationDeadpool 2Mission: Impossible - FalloutKingsman: The Secret ServiceCaptain America: The Winter SoldierStar Trek Into DarknessX: First ClassSkyfallLucky Number Slevin3:10 to YumaKung fuThe Bourne SupremacyMan on FireThe Last SamuraiThe Fifth ElementThe Last of the MohicansEmpire of the SunStar Trek II: The Wrath of KhanFirst BloodThe Taking of Pelham One Two ThreeEnter the DragonThe French ConnectionDirty HarryWhere Eagles DareThe Dirty DozenGoldfingerThe Magnificent SevenGuardians of the Galaxy Vol. 2Baby DriverOnly the BraveSicarioHell or High WaterDawn of the Planet of the ApesSerbuan mautEnd of WatchKick-AssCelda 211Sherlock HolmesEastern PromisesHuo Yuan JiaHarry Potter and the Half-Blood Prince300WatchmenLord of WarBatoru rowaiaruMinority ReportDie Hard: With a VengeanceFalling DownLethal WeaponMad Max 2The WarriorsEscape from Alcatraz to numeric

In [110]:
# split (apply) combine

genres.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508,69.0

In [113]:
#find number of movies starting with A for each group

def  start_with_a(group):
    result = group["Series_Title"].str.startswith("A").sum()
    return result

In [114]:
genres.apply(start_with_a)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [123]:
def end_with_a(group):
    res = group["Director"].str.endswith("n").sum()
    return res

In [124]:
gen.apply(end_with_a)

Director
Aamir Khan             1
Aaron Sorkin           1
Abdellatif Kechiche    0
Abhishek Chaubey       0
Abhishek Kapoor        0
                      ..
Zack Snyder            0
Zaza Urushadze         0
Zoya Akhtar            0
Çagan Irmak            0
Ömer Faruk Sorak       0
Length: 548, dtype: int64

In [127]:
# find ranking of each movies in the group according to imdb score
def movie_rank(group):
    group["group_rank"] = group["IMDB_Rating"].rank(ascending = False)
    return group

In [128]:
genres.apply(movie_rank)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes      Gross  Metascore  group_rank
Genre
Action   2       Christian Bale      2303232  534858444       84.0         1.0
         5          Elijah Wood      1642758  377845905       94.0         2.0
         8    Leonardo DiCaprio      2067042  292576195       74.0         3.5
         10         Elijah Wood      1661481  315544750       92.0         3.5
         13         Elijah Wood      1485555  342551365       87.0         6.0
...                         ...          ...        ...        ...         ...
Thriller 700     Audrey Hepburn        27733   17550741       81.0         1.0
Western  12      Clint Eastwood       688390    6100000       90.0         1.0
         48         Henry Fonda       302844    5321508       80.0         2.0
         115     Clint Eastwood       232772   15000000       74.0         3.0
         691     Clint Eastwood        65659   31800000       69.0         4.0

[1000 rows x 11 columns]

In [131]:
# find normalized imdb rating group wise

def normal(group):
    group["normal_rating"] = group["IMDB_Rating"]-group["IMDB_Rating"].min()/(group["IMDB_Rating"].max()-group["IMDB_Rating"].min())
    return group

genres.apply(normal)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9196\1717251923.py:4: RuntimeWarning: divide by zero encountered in scalar divide
  group["normal_rating"] = group["IMDB_Rating"]-group["IMDB_Rating"].min()/(group["IMDB_Rating"].max()-group["IMDB_Rating"].min())
C:\Users\Admin\AppData\Local\Temp\ipykernel_9196\1717251923.py:4: RuntimeWarning: divide by zero encountered in scalar divide
  group["normal_rating"] = group["IMDB_Rating"]-group["IMDB_Rating"].min()/(group["IMDB_Rating"].max()-group["IMDB_Rating"].min())

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes      Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444       84.0
         5          Elijah Wood      1642758  377845905       94.0
         8    Leonardo DiCaprio      2067042  292576195       74.0
         10         Elijah Wood      1661481  315544750       92.0
         13         Elijah Wood      1485555  342551365       87.0
...                         ...          ...        ...        ...
Thriller 700     Audrey Hepburn        27733   17550741       81.0
Western  12      Clint Eastwood       688390    6100000       90.0
         48         Henry Fonda       302844    5321508       80.0
         115     Clint Eastwood       232772   15000000       74.0
         691     Clint Eastwood        65659   31800000       69.0

              normal_rating
Genre
Action   2     3.571429e+00
         5     3.471429e+00
         8     3.371429e+00
         10    3.371429e+00
         13    3.271429e+00
...                     ...
Thriller 700           -inf
Western  12    1.000000e+00
         48    7.000000e-01
         115   5.000000e-01
         691   7.105427e-15

[1000 rows x 11 columns]

In [132]:
# group by in multipal columns

multipal_colums_bruop_by = movies.groupby(["Director","Star1"])
multipal_colums_bruop_by

In [133]:
multipal_colums_bruop_by.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [136]:
multipal_colums_bruop_by.get_group(("Aamir Khan","Amole Gupte"))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869,NaN

In [139]:
# find the most earning actor
multipal_colums_bruop_by["Gross"].sum().sort_values(ascending=False).head(3)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2999876948
Anthony Russo   Joe Russo         2205039403
Billy Wilder    William Holden    1286778560
Name: Gross, dtype: int64

In [145]:
# find the best actor(in term of metascore(avg)) in genre combo
movies.groupby(["Star1","Genre"])["Metascore"].mean().reset_index().sort_values("Metascore",ascending= False).head(2)

               Star1  Genre  Metascore
230   Ellar Coltrane  Drama      100.0
329  Humphrey Bogart  Drama      100.0

In [146]:
# aggrigate on multipal groupby
multipal_colums_bruop_by.agg(["min","max"])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                         Runtime           Genre             \
                                     max     min  max        min        max
Director            Star1
Aamir Khan          Amole Gupte     2007     165  165      Drama      Drama
Aaron Sorkin        Eddie Redmayne  2020     129  129      Drama      Drama
Abdellatif Kechiche Léa Seydoux     2013     180  180      Drama      Drama
Abhishek Chaubey    Shahid Kapoor   2016     148  148     Action     Action
Abhishek Kapoor     Amit Sadh       2013     130  130      Drama      Drama
...                                  ...     ...  ...        ...        ...
Zaza Urushadze      Lembit Ulfsak   2013      87   87      Drama      Drama
Zoya Akhtar         Hrithik Roshan  2011     155  155     Comedy     Comedy
                    Vijay Varma     2019     154  154      Drama      Drama
Çagan Irmak         Çetin Tekindor  2005     112  112      Drama      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004     127  127  Adventure  Adventure

                                   IMDB_Rating      No_of_Votes          \
                                           min  max         min     max
Director            Star1
Aamir Khan          Amole Gupte            8.4  8.4      168895  168895
Aaron Sorkin        Eddie Redmayne         7.8  7.8       89896   89896
Abdellatif Kechiche Léa Seydoux            7.7  7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor          7.8  7.8       27175   27175
Abhishek Kapoor     Amit Sadh              7.7  7.7       32628   32628
...                                        ...  ...         ...     ...
Zaza Urushadze      Lembit Ulfsak          8.2  8.2       40382   40382
Zoya Akhtar         Hrithik Roshan         8.1  8.1       67927   67927
                    Vijay Varma            8.0  8.0       31886   31886
Çagan Irmak         Çetin Tekindor         8.3  8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz             8.0  8.0       56960   56960

                                        Gross            Metascore
                                          min        max       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869    1223869       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410  853090410      77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675    2199675      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303  218428303       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527    1122527      40.0  40.0
...                                       ...        ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501     144501      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485    3108485       NaN   NaN
                    Vijay Varma       5566534    5566534      65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363  461855363       NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077  196206077       NaN   NaN

[898 rows x 16 columns]

In [149]:
ipl = pd.read_csv("D:\\excel data\\deliveries.csv")
ipl.shape

(179078, 21)

In [148]:
ipl.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [165]:
#find the top 10 batsman in term of runs
ipl.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [166]:
#find the batsman with max no of sixes

six_made = ipl[ipl["batsman_runs"] == 6]
six_made.groupby("batsman")["batsman"].count().sort_values(ascending=False).head(5)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
Name: batsman, dtype: int64

In [172]:
#find batsman with most number of 4's and 6's in last overs
temp_df = ipl[ipl["over"] > 15]
temp_df = temp_df[(temp_df["batsman_runs"] == 4) | (temp_df["batsman_runs"] == 6)]
temp_df.groupby("batsman")["batsman"].count().sort_values(ascending=False).head(5)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
Name: batsman, dtype: int64

In [178]:
#find virat kohli's record against all teams

temp_df = ipl[ipl["batsman"] == "V Kohli"]

In [179]:
temp_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177522,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,7,V Kohli,AB de Villiers,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
177523,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,1,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
177524,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,2,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
177525,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,3,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
177527,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,5,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,0,0,0,V Kohli,caught,WP Saha

In [181]:
temp_df.groupby("bowling_team")["batsman_runs"].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [192]:
# create function that can return the highest score of any batsman

temp_df = ipl[ipl["batsman"] == "V Kohli"]
temp_df.groupby("match_id")["batsman_runs"].sum().sort_values(ascending=False).head(1)

match_id
626    113
Name: batsman_runs, dtype: int64

In [196]:
def highest_score(batsman):
    temp_df = ipl[ipl["batsman"] == batsman]
    return temp_df.groupby("match_id")["batsman_runs"].sum().sort_values(ascending=False).head(1).values[0]
    # return temp_df

highest_score("V Kohli")

113